.root {
    -fx-background-color: #ffffff; /* Background color */
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}




#logout:hover{
    -fx-background-color: #a71931;
}





.line {
    -fx-stroke: #ffffff67; /* Line color */
}

#logoutButton {
    -fx-background-color: #000000; /* Red */
}

#logoutButton:hover {
    -fx-background-color: #d32f2f; /* Darker red on hover */
}

#welcomeText {
    -fx-fill: #0f167a; /* Text color */
    -fx-font-size: 24px; /* Font size */
    -fx-font-weight: bold; /* Font weight */
}

#sidebarText {
    -fx-fill: #0f167a; /* Text color */
    -fx-font-size: 24px; /* Font size */
    -fx-font-weight: bold; /* Font weight */
}
#logout {
    -fx-background-color: #0f167a; /* Blue background */
    -fx-text-fill: #FFFFFF; /* White text */
}