/* BarChart style */
.chart-bar {
    -fx-background-color: #f0f0f0; /* Background color */
}

.chart-bar .chart-plot-background {
    -fx-background-color: #ffffff; /* Plot background color */
}

.chart-bar .axis {
    -fx-tick-label-fill: #333333; /* Axis tick label color */
    -fx-font-size: 14px; /* Axis tick label font size */
}

/* Text style */
.text {
    -fx-fill: #666666; /* Text color */
    -fx-font-size: 24px; /* Font size */
    -fx-font-weight: bold; /* Font weight */
}
